.main-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.top-container,.bottom-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:40%;
}

.choose{
    margin:40px;
    text-align: center;
}
.canvas{
    border: 2px solid black;
}

.bottom-container{
    margin:50px;
}

.choose>h5{
    font-size: medium;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif; 
}

.choose>input{
    width: 110px;
    height: 30px;
}
.choose>select{
    width: 120px;
    height: 30px;
}

 .bottom-container>button{
    width:180px;
    height:40px;
    font-size: medium;
    background-color: rgb(6, 148, 249);

 }